<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
      <%- include partials/title.ejs %>
      

      <h1 style="margin-bottom: 1.5cm;">About me:</h1>
      
      <div class="container" style="margin-bottom: 1cm;">
        <div class="row">
          <div class="col-sm-4">
            <img src= "/assests/images/mypic.jpg" class="img-thumbnail" width="300" height=" 150">
          </div>
          <div class="col-sm-8">
            <h3>Hello! </h3>
            <p style="font-size:18px;"> I am Yoo Sun Song! <br>
              I am a Korean student in centennial college! <br>
           I am majoring in software engineering technology - artificial intelligence.<br>
           I like to study programming,so I am trying to study various porgamming language.<br>
            They are so interesting for me! I will become a cool and nice developer!<br>
            I really love Canada,so after graduating I will get Canada PR. :)
          
          </p>
            <p>Resume:  <a href="/assests/pdf/resume.pdf"> click here</a></p>
            
          </div>

        </div>


      </div>


        


  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
