<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <%- include partials/title.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-md-6">
          <img src="assests/images/software.png" class="rounded float-lefte" width="400" height=" 300">
        </div>
        <div class="col-sm-4">
          <ol style = "font-size: 30px;">
            <li>Python &nbsp;<i class="fab fa-python"></i></li>
            <li>Swifit&nbsp;<i class="fab fa-swift"></i></li>
            <li>Java&nbsp;<i class="fab fa-java"></i></li>
            <li>C#&nbsp;</li>
            <li>Javascript&nbsp;<i class="fab fa-js"></i></li>
            <li>HTML&nbsp;<i class="fab fa-html5"></i></li>
            <li>CSS&nbsp;<i class="fab fa-css3-alt"></i></li>
            <li>Node.js&nbsp;<i class="fab fa-node"></i></li>
            <li>SQL&nbsp;</li>
            <li>Golang&nbsp;</li>
            
          </ol>
        </div>

      </div>
    </div>
  

  




    </div>
    </div>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
