<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <!-- Main Content -->
  <main class="container">
    <%- include partials/title.ejs %>

    <div class="container">
      <div class="row">
        <div class="col-sm">
         <div class="card card-css" style="width: 320;">
          <video width="320" height="240"  controls>
          <source src="/assests/video/ios.MP4" type="video/mp4">
        </video>

  <div class="card-body">
    <h5 class="card-title">ios app </h5>
    <p class="card-text">I am studying ios app development by myself nowadays. I am creating an app with my friend's pictures.</p>
    
  </div>
</div>
        </div>
        <div class="col-sm">
          <div class="card card-css" style="width: 320;">
            <img class="card-img-top" src="/assests/images/abc.png" alt="past project" width="320" height="240" >
            <div class="card-body">
              <h5 class="card-title">HTML CSS Javascript</h5>
              <p class="card-text">I made a web page with HTML, CSS, and Javascript. It is an assignment in COMP213</p>
             
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card card-css" style="width: 320;">
            <video width="320" height="240"  controls>
              <source src="/assests/video/comp237.MP4" type="video/mp4">
            </video>
            <div class="card-body">
              <h5 class="card-title">Agent with Python</h5>
              <p class="card-text">I made an agent with Python. It is an assignment in COMP237.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
   
   

   



  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
