<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>


  <!-- Main Content -->
  
  <main class="container">
     <%- include partials/title.ejs %>
   



      <div class="container">
        <div class="row">
          <div class="col-sm-3 col-md-6">
            <img src="/assests/images/computer.jpg" class="rounded-circle" width="400" height=" 300">
          </div>
          <div class="col-sm-4">
            <h3>Mission Statement </h3>
            <p>I will bcome a <mark>cool and nice</mark> developer!</p>
            <p>If you want know me more...<a href="/about" class="btn btn-link" role="button">Click here</a></p>
            
          </div>

        </div>
      </div>
    </main>

    

  <%- include partials/bottom_nav.ejs %>
  <%- include partials/footer.ejs %>

